@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.custome-class-navbar{
    background: #fff;
}
.Personal-Class{
    color: #003087;
    font-size: 20px;
}
.Personal-Class:hover{
    color: #003087;
    font-weight: 500;
    border: 1px solid #E6E0D9;
    border-radius: 20px;
    width: 120px;
    text-align: center;

}

.Developer{
    width: 120px;
    height: 40px;
    margin-top:5px;
    margin-left:10px;
    border-radius: 20px;
    font-size: 20px;
    color: #003087;
    border: none;
    background: transparent;
}
.Developer:hover{
    background: #fff;
    color: #003087;
    font-weight: 500;
    border: 1px solid #E6E0D9;
}
.left-buttons{
    width: 400px;
    height: 60px;
    position: relative;
    left: 300px;
    top: 5px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 15px;
}
.Help{
    width: 100px;
    background: transparent;
    height: 35px;
    border-radius: 20px;
    color: #003087;
    font-size: 16px;
    border: none;
    font-weight: 400;
}
.Help:hover{
    font-weight: 500;
    border: 1px solid #E6E0D9;
    color: #142C8E;
}
.LOgin{
    width: 120px;
    height: 40px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 2px solid #003087;
    color: #003087;
    font-weight: 600;
    border-radius: 20px;
}
.Sign{
    width: 120px;
    height: 40px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #003087;
    border: 2px solid #003087;
    color: #fff;
    font-weight: 600;
    border-radius: 20px;
}
.hero{
    width:100%;
    height: 600px;
    background: #142C8E;
}
.Hero-heading{
    width: 600px;
    height: 60px;
    background: transparent;
    color: #fff;
    font-family: sans-serif;
   margin-top: 80px;
   margin-left: 100px;
}
.para{
    width:600px ;
    height: 50px;
   margin-left: 100px;
   display: flex;
   align-items: center;
   margin-top: 30px;
   gap: 10px;
}
.para p{
    color:#56CCFE;
    font-size: 20px;
}
.para a{
    text-decoration: none;
}
.para i{
    font-size: 25px;
    color:#56CCFE;
    position: relative;
    bottom: 5px;
    left: 5px;
}
.paratwo{
    width: 600px;
    height: 50px;
    position: relative;
    top: 30px;
    left: 80px;
}
.paratwo{
    font-size: 20px;
    color: #fff;
    font-weight: 500;
}
.image-scan{
    width: 600px;
    height: 300px;
    margin-top: 50px;
    margin-left: 80px;
    display: flex;
}
.QR-image{
    width: 150px;
    height: 150px;
    position: relative;
    top: 50px;
    text-align: center;
}
.scan-content{
    width:400px ;
    height: 200px;
    margin-left: 20px;
    margin-top: 50px;
    border-left: 1px solid #5565A9;

}
.scan-content input{
    width: 300px;
    height: 60px;
    background-color: #fff;
    border-radius: 8px;
    margin-left: 20px;
    border: none;
}
.scan-content input:placeholder-shown{
    padding-left: 20px;
}
.button-class{
    width: 150px;
    height: 50px;
    border-radius:100px;
    margin-top: 10px;
    margin-left: 15px;
}
.button-class span{
    font-weight: 600;
}
.last-para{
    width: 320px;
    height: 90px;
    margin-left: 20px;
    margin-top: 10px;
}
.last-para p{
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}
.Hero-one{
    width: 45%;
    height: 600px;
}
.Hero-two{
    width: 40%;
    height:500px ;
    margin-top: 83px;
}
.Hero-two img{
    width: 480px; 
    margin-top: 105px;
}
.hero-three{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #C4C4C4;
}
.hero-three p{
    font-size: 20px;
    color: #0C0C43;
    font-weight: 500;
}
.hero-three p span{
    text-decoration: none;
    padding: 0 10px;
}
.hero-three p span a{
    text-decoration: none;
}
.hero-three p span a:hover{
    color: #003087;
    text-decoration: underline;
}
.hero-three p span i{
    width: 50px;

}
/* Section two */
.Section-two{
    width: 100%;
    height: 550px;
}
.section-two-her-one{
    width: 60%;
    height: 400px;
    background: transparent;
    margin: 100px auto;
}
.section-two-her-one-image{
    width: 45%;
    height: 400px;
    display: flex;
    align-items: center;
}
.section-two-her-one-image img{
    width: 350px;
}
.section-two-her-one-content{
    width:55% ;
    height: 400px;
}
.section-two-her-one-content h1{
    color: #0c0c0d;
    font-size: 50px;
}
.heading-content{
    width: 70%;
    height: 100px;
    position: relative;
    left: 40px;
    top: 50px;
}
.para-content{
    width:78%;
    height: 230px;
    margin-top: 60px;
    margin-left: 40px;

}
.para-content p{
    color: #0c0c0D;
    font-size: 20px;
}
.para-content a{
   font-size: 20px;
   color: #1072EC;
   text-decoration: none;
}
.para-content a:hover{
    color: blue;
}

/* Section three */
.Section-three{
    width: 100%;
    height: 500px;
}
.Section-three-hero-one{
    width: 90%;
    height:450px ;
    margin: 50px auto;
    display: flex;
}
.Section-three-content{
    width: 43%;
    height: 420px;
    margin-left: 20px;
}
.Section-three-content h2{
    color: #0c0c0D;
    font-size: 50px;
    font-family: sans-serif;
    margin-top: 40px;
    margin-left: 10px;
}
.Section-three-content p{
    font-size: 18px;
    color: #0c0c0D;
    text-align: left;
    margin-left:10px;
    text-align: justify;
    font-weight: 500;
}
.Section-three-content span{
    color: #4A4A4A;
    font-size: 16px;
    text-align: justify;
    margin-left: 0px;
}
.Section-three-content a{
    font-size: 20px;
    color: #003087;
    text-decoration: none;
    margin-left: 10px;

}
.Section-three-image{
    width: 45%;
    height: 450px;
    margin-left: 50px;
}
.Section-three-image img{
    width: 450px;
}

/* Section four */
.section-four{
    width: 100%;
    height: 500px;
    display: flex;
}
.section-four-image{
    width: 40%;
    height:400px ;
    margin-top: 50px;
    margin-left: 150px;
}
.section-four-image img{
    width: 500px;
}
.section-four-content{
    width: 38%;
    height: 400px;
    margin-top: 50px;
    margin-left: 20px;
}
.section-four-content h2{
    font-weight: 500;
    font-size: 48px;
    margin-top: 50px;
    margin-left: 10px;
}
.section-four-content p{
    color: #0c0c0D;
    font-size: 18px;
    margin-top: 50px;
    text-align: justify;
    margin-left: 10px;
}

.section-four-content a{
    font-size: 20px;
    color: #003087;
    text-decoration: none;
    margin-left: 10px;
}
/* section five */
.Section-five{
    width: 100%;
    height: 500px;
    display: flex;
}
.Section-five-content{
    width: 40%;
    height: 400px;
    margin-left: 150px;
    margin-top: 50px;
}
.Section-five-content h2{
    font-size: 48px;
    color: #0c0c0D;
    margin-top: 10px;
    margin-left: 10px;
}
.Section-five-content p{
    font-size: 18px;
    font-weight: 500;
    color: #0c0c0D;
    margin-top: 50px;
    margin-left: 10px;
}
.Section-five-content a{
    font-size: 20px;
    color: #003087;
    text-decoration: none;
    margin-left: 10px;
}
.Section-five-image{
    width: 40%;
    height: 450px;
    margin-top: 20px;
    margin-left: 20px;
}
.Section-five-image img{
    width: 450px;
}
.Section-Seven{
    width: 100%;
    height: 400px;
    display: flex;
}
.Section-Seven-Content{
    width: 35%;
    height: 400px;
    margin-left: 50px;
}
.Section-Seven-Content h2{
    font-size: 48px;
    color: #0c0c0D;
    margin-top: 100px;
    margin-left: 10px;
    line-height: 60px;
    text-align: left;
}
.Section-Seven-images{
    width: 60%;
    height: 300px;
    margin-top: 50px;
    position: relative;

}
.Section-Seven-images-first-line{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: left;
}
.Section-Eight{
    width: 100%;
    height: 450px;
    background: #121661;
}
.Section-Eight-content{
    width: 70%;
    height: 250px;
    margin: 50px auto 0 auto;
}
.Section-Eight-content h2{
    margin: 10px 50px;
    text-align: center;color: #fff;
    font-size: 44px;
    padding-top: 50px;
}
.Section-Eight-content button{
    background: #fff;
    width: 400px;
    height: 50px;
    border-radius: 50px;
    margin-top: 30px;
    margin-left:250px;
}
.Section-Eight-content button a{
    text-decoration: none;
    color: #121661;
    font-size: 16px;
    font-weight: 700;
}
.Section-Eight-Numbers{
    width: 60%;
    height: 100px;
    margin: 40px auto;    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.numbers{
    width: 60px;
    height: 80px;
    background: #1072EB;
    border-radius: 15px;
    font-size: 54px;
    font-weight: 600;
    color: #fff;
    text-align: center;
}
/* Section Ninth */
.Section-Ninth{
    width: 100%;
    height: 120px;
}
.Section-Ninth-Content{
    width: 90%;
    height: 100px;
    margin: 10px auto;
    color: #687173;
    font-size: 14px;
    font-weight: 600;
}
footer{
    width: 100%;
    height: 400px;
}
.footer-content{
    width: 80%;
    height: 300px;
    margin: 50px auto;
}
.footer-content img{
    width: 200px;
}
.footer-content-first-lists{
    width: 100%;
    height: 50px;
    background: transparent;
    border-bottom: 1px solid #C6C6C6;
    }
.footer-content-first-lists ul{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: left;
    margin:10px 0

}
.footer-content-first-lists ul li{
    list-style: none;
    margin: 0 20px;
    font-size: 14px;
    font-weight: 700;
}
.footer-content-first-lists ul li a{
    text-decoration: none;
    color: #001C91;
}




.footer-content-Second-lists{
    width: 100%;
    height: 50px;
    background: transparent;
    margin-top: 20px;
    }
.footer-content-Second-lists ul{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: left;
    margin:10px 0

}
.footer-content-Second-lists ul li{
    list-style: none;
    margin: 0 20px;
    font-size: 14px;
    font-weight: 700;
}
.footer-content-Second-lists ul li a{
    text-decoration: none;
    color: #001C91;
}